<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tracer</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <style>
      li{
      list-style: none;
      display: inline;
      font-size: 2em;
      margin: 10px;
      }
      a{
      position: fixed;
      top: 50px;
      right: 2em;
      color: #E9E581;
      text-decoration: none;
      }
      body{
      height: 624px;
      }
      header{
      margin-top: -13px;
      }
      #canvas {
      background: #ffffff;
      position:fixed;
      z-index: 0;
      padding-left: 0;
      box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
      padding: 0;
      margin: auto;
      display: block;
      top: 180px;
      bottom: 10px;
      left: 10px;
      right: 10px;
      }
      #controls {
      position: absolute;
      z-index: 2;
      left: 25px;
      top: 25px;
      }
      label{
      font-size: 14px;
      margin-right: -0.25em;
	  padding: 11px;
      }
    </style>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var draws = {};
      //Imagine an object inside of draws to look like {x: 10, y: 10, width: 10, height: 10}
      var socket;
      var dragging = false;
      var username;
      var canvas;
      var ctx;
      var lineWidth;
      var self;
      var strokeStyle;
      var DEFAULT_LINE_WIDTH = 3;
      var DEFAULT_STROKE_STYLE = "black";
      function connectSocket(e) {
          var message = document.querySelector("#message");

          var chat = document.querySelector("#chat");
          socket = io.connect();
         
       
          socket.on('connect', function () {
              var user = document.querySelector("#user").value;
              var sendBut = document.querySelector("#send");
              room = document.querySelector("#roomname").value;
              sendBut.addEventListener('click', function(e){
                        socket.emit('msgToServer', {name: user, msg: message.value, room: room})
                    });
              if (!user) {
              user = 'unknown';
              }
              if (!room) {} else {
              socket.emit('join', {
              name: user,
              room: room
          });
      }
          
    //listener for msg event 
    socket.on('msg', function(data){
             chat.innerHTML += data.name + ': ' + data.msg + "&#13;";                                                        
             console.log(data); 
          });
      ctx.clearRect(0, 0, 800, 500);
     
     socket.on('drawline', function(data) {
      ctx.beginPath();
      //console.log(data.draws.points);
      ctx.strokeStyle = data.draws.points[0].strokeStyle;
      ctx.lineWidth = data.draws.points[0].lineWidth;
      ctx.moveTo(data.draws.points[0].x, data.draws.points[0].y);
      for (var i = 1; i < Object.keys(data.draws.points).length; i++) {
      ctx.lineTo(data.draws.points[i].x, data.draws.points[i].y);
      ctx.stroke();
      
      }
      ctx.closePath();
      });
      
      socket.on('drawCurrent', function(data){
      console.log("Data " + data);
      ctx.lineWidth = lineWidth;
      for(drawline in data.draws){
      ctx.beginPath();
      ctx.lineWidth = data.draws[drawline].points[0].lineWidth;
      ctx.strokeStyle = data.draws[drawline].points[0].strokeStyle;
      ctx.moveTo(data.draws[drawline].points[0].x, data.draws[drawline].points[0].y);
      for(var i=1; i < Object.keys(data.draws[drawline].points).length; i++){
      ctx.lineTo(data.draws[drawline].points[i].x, data.draws[drawline].points[i].y);
      ctx.lineWidth = lineWidth;
      ctx.strokeStyle = strokeStyle;
      ctx.stroke();
      }
      ctx.closePath();
      }
      });
      });
      }
      function init()
      {
      canvas = document.querySelector("canvas")
      ctx = canvas.getContext('2d');
      ctx.strokeRect(0, 0, 800, 500);
      canvas.onmousedown = doMousedown;
      canvas.onmousemove = doMousemove;
      canvas.onmouseup = doMouseup;
      canvas.onmouseout = doMouseout;
      lineWidth = DEFAULT_LINE_WIDTH;
      ctx.lineWidth = lineWidth;
      strokeStyle = DEFAULT_STROKE_STYLE;
      ctx.strokeStyle = strokeStyle;
      document.querySelector("#lineWidthChooser").onchange = doLineWidthChange;
      document.querySelector("#strokeStyleChooser").onchange = doColorChange;
      document.querySelector("#clearButton").onclick = doClear;
      document.querySelector('#exportButton').onclick = doExport;
      var connect = document.querySelector("#connect");
      connect.addEventListener('click', connectSocket);
          
          
      }
    
      function doLineWidthChange(e) {
      lineWidth = e.target.value;
      }
      function doColorChange(e){
      strokeStyle = e.target.value;
      }
      function doClear(){
        ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
		drawGrid(ctx,'lightgray', 10, 10);
      }
      function doExport(){

		var data = canvas.toDataURL(); 
		var windowName = "canvasImage";
		var windowOptions = "left=0,top=0,width=" + canvas.width + ",height=" + canvas.height +",toolbar=0,resizable=0";
		var myWindow = window.open(data,windowName,windowOptions);
		myWindow.resizeTo(canvas.width,canvas.height); // needed so Chrome would display image
	 }
      function doMousedown(e)
      {
      //console.log(e.type);
      dragging = true;
      var mouse = getMouse(e);
      var time = new Date().getTime();
      self = time.toString();
      draws[self] = {
      points: [{
      x: mouse.x,
      y: mouse.y,
      lineWidth: lineWidth,
      strokeStyle: strokeStyle
      }]
      };
      }
      function doMouseup(e)
      {
      //console.log(e.type);
      dragging = false;
      }
      //HELPER FUNCTIONS
      function doMousemove(e)
      {
      //console.log(lineWidth);
      if(!dragging) return;
      var mouse = getMouse(e);
      ctx.strokeStyle = strokeStyle;
      ctx.lineWidth = lineWidth;
      draws[self].points.push({
      x: mouse.x,
      y: mouse.y
      });
      socket.emit('drawsToServer', {
      self: self,
      draws: draws[self]
      });
      }
      function doMouseout(e) {
      //console.log(e.type);
      dragging = false;
      }
      function getMouse(e){
      var mouse = {}
      mouse.x = e.pageX - e.target.offsetLeft;
      mouse.y = e.pageY - e.target.offsetTop;
      return mouse;
      }
      window.onload = init;
    </script>
  </head>
  <header>
    <h1 id="title">Tracer</h1>
    <nav><a href="/login"></a>
      <ul id="globalNav">
        <li><a href="/logout">Log out</a></li>
      </ul>
    </nav>
      <style>
		textarea {
			display: block;
			background-color: #EEEEEE;
			margin-left: 15px;
		}
        #command{margin-bottom: -10px;}
	</style>
  </header>
<body>
  <section id="login">
    <label for="username">Username: </label>
    <input id="user" name="username" type="text">
    <label for="room">Room: </label>
    <input id="roomname" name="room" type="text">
    <input id="connect" type="button" value="connect">
    <label>Line Width: </label>
    <select id="lineWidthChooser">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3" selected="">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <label>Line Color: </label>
    <select id="strokeStyleChooser">
      <option value="black">Black</option>
      <option value="red">Red</option>
      <option value="orange">Orange</option>
      <option value="blue">Blue</option>
      <option value="yellow">Yellow</option>
      <option value="purple">Purple</option>
      <option value="brown">Brown</option>
    </select>
    <input id="clearButton" type="button" value="Clear">
      <span><input id="exportButton" type="button" value="save drawing" style="margin-left: 10px"/></span>
  </section>
  <canvas id="canvas" width="800" height="500">//Get a real browser!</canvas>
	<label for="message">Message:</label>
	<input id="message" name="message" type="text"/>
	<input id="send" type="button" value="send" />
	
	<textarea id="chat" rows="20" cols="40" readonly> </textarea>
    </body>
</html>