body {background-color: lightblue;
	 font-family: Arial;
	 color: black;
	 margin-left: 40px;}
h1 {font-size: 50px;
	font-weight: bold;
	color: black;
	text-align: center;}
h2 {font-size: 30px;
	font-weight: bold;
	text-decoration: underline;}
h3 {font-size: 20px;}
figure {border: 5px solid black;
	width: 335px;
	height: 335px;
	border-radius: 10px;
	float: right;
	margin-right: 75px;}
figcaption {font-size: 13px;
		font-style: italic;
		text-align: center;}	
#printonly{display:none;}



/* changes colors of links depending on their state */
a:link{color: white;}
a:visited{color: red;}
a:hover{color: yellow;}
a:active{color: black;}

/* removes and reintroduces underlines to the links*/
a:link{text-decoration: none;}
a:hover{text-decoration: underline;}